.one{
    text-align: center;
    margin: 20px;
    border: 20px;
    background-image: url(istockphoto-817263864-612x612.jpg) ;
    height: 600px;
    width: 600px;
    border: 2px solid black;
    

}

